#Contenedor{
    border: 3px solid black;
    width: 600px;
    height: 600px;
    margin:0 auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
#Rojo{
    color: white;
    height: 200px;
    width:200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

}
#Azul{
    color: white;
    height: 200px;
    width:200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}
#Verde{
    color: white;
    height: 200px;
    width:200px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
