.Contenedor{
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;

}
.Item{
    width: 180px;
    height: 180px;
    margin:0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}