#Datos{
    width: 400px;
    background-color: goldenrod;
    text-align: center;
    padding-top: 30px 0;
    border: 2px solid red;
    border-top: 20px dashed blue;
    margin-left: 200px;
    border-radius: 0 50px 0 0;
}
#Datos:hover{
    background-color: black ;
    cursor: pointer;
}

h1{
    text-transform: uppercase;
    color: deeppink;
    text-align: center;
}
h2{
    background-color: red;
    width: 200px;
    height: 300 px;
    margin-bottom: 50px;
    box-shadow: 15px 10px 10px black;
}
h3{
    text-align: center;
    color: chartreuse;
    text-shadow: darkblue;
}
image{
   float: left;
}
.Contacto{
    color: deepskyblue;
    background-color: firebrick;
    text-align: center;
    text-decoration: fuchsia;
    text-transform: uppercase;
}
.perfil{
    font-family: 'Courier New', Courier, monospace ;
    color: chocolate;
}