.rojo{
    background-color: red;
    width: 200px;
    height: 300 px;
    margin-bottom: 50px;
    box-shadow: 15px 10px 10px black;
}

.azul{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(118,9,121,1) 77%, rgba(255,0,78,1) 100%);
    width: 200px;
    height: 300 px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    /* border-radius: 20px; */
    /* border-radius: 50px 0 20px 10px; */
    border-radius: 0 50px 0 0;
}