/* font-family: 'Oswald', sans-serif; */
h2{
    color: red;
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Courier New', Courier, monospace ;
}
.icono{
    font-size: 500px;
    color: blue;
}