@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}
@media screen and (min-width: 230px) and (max-width: 800px){
	body {
		padding: 0;
		margin: 0;
	}
	#contenedor {
		background: #8FA68E;
		width: 100%;
		margin: 0 auto;
	}
	nav {
		background: rgb(235, 194, 118);
		float: none;
		width: 100%;
	}
	ul {
		margin: 0;
	}
	a {
		color:black;
		padding: 00.5em;
		display: block;
	}
	section {
		border-top: solid black 0.1em;
		border-bottom: solid black 0.1em;
		float: none;
		width: 100%;
		margin-left: 0%;
		padding: 00.9em;
	}
	aside {
		border-top: solid black 0.1em;
		float:none;
		padding: 0.8em;
		width:100%;
		margin-left:0;
	}
}
